name: Build and Push pingspot-server to ACR

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          # Build the image using the Dockerfile in your root
          docker build . -t ${{ secrets.ACR_LOGIN_SERVER }}/pingspot-server:latest
          # Push the image to your private registry
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/pingspot-server:latest