@import "tailwindcss";

.bg-pingspot-gradient {
    @apply bg-gradient-to-br from-gray-600 via-sky-900 to-indigo-800;
}

.bg-pingspot-gradient-hoverable {
    @apply bg-gradient-to-br from-gray-600 via-sky-900 to-indigo-800;
}

.bg-pingspot-gradient-hoverable:hover {
    @apply from-sky-950 via-sky-950 to-sky-950;
}

@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

:root {
    --font-sf: 'SF Pro';
}
